:root {
	--primary-color: rgb(71, 120, 255);
	--primary-background-color: rgba(54, 102, 235, 0.25);
}
body {
	padding: 35px;
	overflow: hidden;
	display: flex;

	background-color: rgba(19, 19, 19, 0);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	flex-direction: column;

	height: 100vh;
	justify-content: center;
}

body.promptInput {
	align-items: center;
	justify-content: center;
	padding: 0;
}

.container {
	background-color: #131319;
	border-radius: 25px;
	padding: 35px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	height: 100%;
	max-height: 700px;
	width: 100%;
	max-width: 1200px;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	padding: 0;
}

h2 {
	color: var(--primary-color);
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

p {
	color: #606060;
	font-size: 13px;
}

.token input {
	width: 100%;
	padding: 12.5px 20px;
	background-color: #F7f7f7;
	border: none;
	outline: none;
	background-color: transparent;
	border-radius: 35px;
	border: 1px solid transparent;
	transition: 250ms;
}

.token input:hover {
	background-color: var(--primary-background-color);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.prompt, .token {
	border-radius:25px;
	color: #fff;
	margin: 0 auto;
	overflow: hidden;
	background-color:#F7f7f7 ;
	
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	
	.btn-sent {
		background-color: transparent;
		border: none;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
		font-weight: 700;
		padding: 14px 30px;
		text-transform: uppercase;
		transition: background-color 0.2s;
		border-radius: 50px;

		i {
			color: var(--primary-color);
		}

		&:hover {
			background-color: var(--primary-background-color);
		}
	}

	

	input::placeholder {
		color: #909090;
	}
}

.token {
	margin-top: 25px;
}
.prompt {
	background-color: #000000;
	margin: 0 20px;
	width: calc(100% - 40px);

}
.prompt input {
	border:none;
	width: 100%;
	font-weight:300;
	padding: 15px 20px;
	color: #d4d4d5;

	outline: none;
	background-color: transparent;

}


.loader {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--primary-color);
	border-top-color: transparent;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}